#venv/Scripts/activate
fastapi[all] 
tortoise-orm 
pydantic 
pytest
aiofiles
passlib[bcrypt]


"username": "azeemkhan",
  "email": "khanazeem@gmail.com",
  "password": "password"

  	

shazia1
password
4